/* | BONES CORE LAYOUT |  */
/* | DO NOT CHANGE FILE USE CUSTOM.CSS TO OVERRIDE|  */

html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .wrapper {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .wrapper {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    width: 1170px;
  }
}
.wrapper-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}
.columnSmall-1, .columnReg-1, .columnSmall-2, .columnReg-2, .columnSmall-3, .columnReg-3, .columnSmall-4, .columnReg-4, .columnSmall-5, .columnReg-5, .columnSmall-6, .columnReg-6, .columnSmall-7, .columnReg-7, .columnSmall-8, .columnReg-8, .columnSmall-9, .columnReg-9, .columnSmall10, .columnReg-10, .columnSmall-11, .columnReg-11, .columnSmall-12, .columnReg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .columnSmall-1, .columnSmall-2, .columnSmall-3, .columnSmall-4, .columnSmall-5, .columnSmall-6, .columnSmall-7, .columnSmall-8, .columnSmall-9, .columnSmall-10, .columnSmall-11, .columnSmall-12 {
    float: left;
  }
  .columnSmall-12 {
    width: 100%;
  }
  .columnSmall-11 {
    width: 91.66666667%;
  }
  .columnSmall10 {
    width: 83.33333333%;
  }
  .columnSmall-9 {
    width: 75%;
  }
  .columnSmall-8 {
    width: 66.66666667%;
  }
  .columnSmall-7 {
    width: 58.33333333%;
  }
  .columnSmall-6 {
    width: 50%;
  }
  .columnSmall-5 {
    width: 41.66666667%;
  }
  .columnSmall-4 {
    width: 33.33333333%;
  }
  .columnSmall-3 {
    width: 25%;
  }
  .columnSmall-2 {
    width: 16.66666667%;
  }
  .columnSmall-1 {
    width: 8.33333333%;
  }
  
}
@media (min-width: 992px) {
  .columnReg-1, .columnReg-2, .columnReg-3, .columnReg-4, .columnReg-5, .columnReg-6, .columnReg-7, .columnReg-8, .columnReg-9, .columnReg-10, .columnReg-11, .columnReg-12 {
    float: left;
  }
  .columnReg-12 {
    width: 100%;
  }
  .columnReg-11 {
    width: 91.66666667%;
  }
  .columnReg-10 {
    width: 83.33333333%;
  }
  .columnReg-9 {
    width: 75%;
  }
  .columnReg-8 {
    width: 66.66666667%;
  }
  .columnReg-7 {
    width: 58.33333333%;
  }
  .columnReg-6 {
    width: 50%;
  }
  .columnReg-5 {
    width: 41.66666667%;
  }
  .columnReg-4 {
    width: 33.33333333%;
  }
  .columnReg-3 {
    width: 25%;
  }
  .columnReg-2 {
    width: 16.66666667%;
  }
  .columnReg-1 {
    width: 8.33333333%;
  }
}

